<header>
  <h1>Create Your Quiz!</h1>
</header>
<form class="quiz container" id="start" ng-submit="saveQuiz()">
  <fieldset class="names">
    <label for="creator">Creator: </label>
    <input type="text" id="creator" ng-model="quiz.creator" placeholder="What is your name?" required>
    <label for="title">Title: </label>
    <input type="text" id="title" ng-model="quiz.title" placeholder="Choose a quiz name" required>
  </fieldset>
  <div class="questionQuantity">
    <h3>Change Question Quantity</h3>
    <input type="number" class="numberPick" ng-model="questionQuantity" min="1" max="10">
    <button class="btn btn-default" type="button" ng-click="changeQuestionQuantity()">Change Question Quantity</button>
  </div>
  <fieldset class="question" ng-repeat="question in quiz.questions track by $index">
    <input class="query" type="text" ng-model="question.inQuery" placeholder="Enter Your Question" required>
    <div class="quantityBtns">
      <button class="btn btn-default" type="button" ng-click="addAnswer($index)">Add More Answers</button>
      <button class="btn btn-default" type="button" ng-click="removeAnswer($index)">Remove Answers</button>
    </div>
    <div class="answer" ng-repeat="option in quiz.questions[$index].options">
      <input type="radio" ng-model="option.isCorrect" name="{{$parent.$index}}" required>
      <input type="text" ng-model="option.answer" placeholder="possible answer" required>
    </div>
  </fieldset>
  <button class="submit btn btn-default" type="submit">Save Quiz!</button>
</form>