<header class="title">
  <h1>{{quiz.title}}</h1>
</header>
<form class="quiz container" ng-submit="submitQuiz()">
  <div class="question" ng-repeat="question in quiz.questions">
    <h3>{{question.inQuery}}</h3>
    <fieldset class="answer" ng-repeat="option in question.options">
      <label for="choice"></label>
      <input type="radio" id="choice" ng-checked="quizPaper.answers[$parent.$index].options[$index].isCorrect" name="{{$parent.$index}}" required>
      <p style="display:inline">{{option.answer}}</p>
    </fieldset>
  </div>
  <div class="submit">
    <button class="btn btn-default" type="submit">Submit</button>
  </div>
</form>
